:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Cardo', serif;
}

/***************************************************************************/
/*                             HOME IMAGE COVER                            */
/***************************************************************************/
.home-10 {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/Silsmaria/sala.jpg);
    background-position: center top;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
}

.silsmaria-title{
    font-family: 'Lato', sans-serif;
    width: 11em;
    align-items: center;
    font-size: xx-large;color: white;
    background-color: rgba(0, 0, 0, .7);
}

/***************************************************************************/
/*                      SECTION IMAGE AND DESCRIPTION                      */
/***************************************************************************/
.about-it{
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.about-it-container {
	position: absolute;
	width: 100%;
}

.description-image {
	position: relative;
	display: flex;
	justify-content: center;
	top: 50px;
}

.about-it-image {
	position: relative;
	right: 5em;
	width: 533px;
    height: 400px;
	max-width: 100%;
}

.about-it-desc {
	position: relative;
	top: 3em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	max-width: 25em;
}

/***************************************************************************/
/*                      SECTION IMAGES ON PLANIMETRIA                      */
/***************************************************************************/

.page-content {
	/* display: grid; */
	/* grid-gap: 3rem; */
	/* max-width: 80%; */
	/* padding: 1rem; */

   right: 50%;
	margin: 0 auto;
	font-family:  'Lato', sans-serif;
}


  .imageshome {
    padding-top: 100px;
    display: flex;
    justify-content: center;
  }

  .right {
    
	

  }

   #right {
    width: 950px;
    height: 650px;
	
  } 

 


@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(4, 1fr);
    }
}

/***************************************************************************/
/*                                  MEDIA FOR 1180PX                       */
/***************************************************************************/
@media (max-width: 1180px){
	/* cover image responsive */
	.home-10 {
		height: 500px;
	}

	/* mobile version section image description */
	.about-it-container{
		display: none;
	}

	/* mobile version of the picture */
	.silsmaria-mobile{
		visibility: visible;
		position: absolute;
		width: 100%;
		height: 50vh;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(images/Silsmaria/cameramat.jpg);
		opacity: 0.50;
		text-align: center;
	}

	.section-2 {
		display: none;
	}

	.box-mobile h1{
        position: relative;
        font-size: 24px;
        top: -4em;
      }
      .box-mobile p {
        position: relative;
        font-size: 15px;
        top: -4em;
      }

	  
	  .house-button-mobile {
		display: block;

		position: relative;
		bottom: 16em;
	  }
}

@media (min-width: 1180px) {
	.house-button-mobile {
		
		display: none;
	}
}




/**********************/


#floor-plan {
	width: 500px; 
	height: 650px;
	position:relative;
	margin: auto;
	background-image: url( images/Silsmaria/silsmaria.png );
	background-size: contain;
	/* background-repeat: no-repeat; */
	padding-left: -5em;
	
   

}
#floor-plan span, #floor-plan a, #floor-plan a:before {
	position:absolute;
	text-decoration:none;
}
#floor-plan a:before {
	content:"";
}
.living-room {
	left:4.7%;
	top:58%;
	width:56%;
	height: 37%;
}

/* .dining {
	left:63%;
	top:9%;
	width:8%;
	height:12%;
}
span.d1 {
	left:-68%;
	top:100%;
	right:0;
	height:72%;
}
span.d2 {
	left:-477%;
	top:172%;
	right:0;
	height:110%;
}
span.d3 {
	left:-226%;
	top:282%;
	right:0;
	height:110%;
} */
.bedroom1 {
	left:4.7%;
	top:41%;
	width:43%;
	height:16%;
}
.kitchen {
	left:61%;
	top:57.5%;
	width:36.5%;
	height:27.5%;
}
.bedroom2 {
	left:4.7%;
	top:1.7%;
	width:43.7%;
	height:24.8%;
}
.wc {
	left:4.7%;
	top:28%;
	width:43.7%;
	height:12%;
}

#floor-plan a:hover, #floor-plan a:hover span, #floor-plan a:hover:before {
	background:rgba(0,0,0,0.4);
}
#floor-plan b {
	position:absolute;
	left:-999em;
	opacity:0;
	transtition: opacity .3s ease;
}
#floor-plan a:hover b {
	opacity:1;
	left:1em;
	top:1em;
	white-space:nowrap;
	padding:5px 10px;
	color:#000;
	background:rgba(255,255,255,0.8);
}
#floor-plan a.dining:hover b{
	top:200%;
	left:-240%;
}

.swiper {
	width: 100%;
	height: 40%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 70%;
	object-fit: cover;
  }

 

  .swiper {
	width: 100%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
  }

  .swiper-slide {
	background-size: cover;
	background-position: center;
  }

  .mySwiper2 {
	height: 80%;
	width: 100%;
  }

  .mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
  }

  .mySwiper .swiper-slide {
	width: 25%;
	height: 20%;
	opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
	opacity: 1;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 20%;
	object-fit: cover;
  }

  @media (min-width: 500px){
	.swiper-foto{
		display: none;
	}

	
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/*html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }*/



.slides {
    padding: 0;
    width: 70em;
    height: 45em;
    display: block;
    margin: 0 auto;
    position: relative;
	bottom: 7em;
}

@media (max-width: 1120px){
	.slides {
		padding: 0;
		width: 45em;
		
		height: 30em;
		display: block;
		margin: 0 auto;
		position: relative;
		bottom: 7em;
	}
	.nav label {
		top: 3em;
	}
	

	
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 30em;
    height: 20em;
    display: block;
    position: absolute;
	
    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}



.nav label {
    width: 100px;
    height: 2em;
    display: none;
    position: absolute;
	opacity: 0;
    z-index: 9;
    cursor: pointer;
	top: 6em;
    transition: opacity .2s;

    color: #FFF;
    font-size: 56pt;
    text-align: center;
    line-height: 150px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: -5em;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	/* top: -5px; */
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5 {
	background: rgba(0, 0, 0, 0.8);
}



@media (max-width: 500px) {
	.slider2-foto {
		display: none;
	}

	.box-mobile h1{
        position: relative;
        font-size: 19px;
        top: -5em;
      }
      .box-mobile p {
        position: relative;
        font-size: 15px;
        top: -5em;
      }

}



@media (max-width: 720px) {
	.slides {
		width: 20em;
		height: 15em;
		bottom: 4em;
	}

	.nav label {
		width: 50px;
		height: 2em;
		top: 1.3em;
	}


}

@media (max-width: 400px) {

	.box-mobile h1{
        position: relative;
        font-size: 17px;
        top: -5em;
      }
      .box-mobile p {
        position: relative;
        font-size: 12px;
        top: -5em;
      }
}


.details {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
}

.details ul{
	padding-left: 0;
}

.house-button {
	position: relative;
	bottom: 15em;
	
}

/**********************/

@media (max-width: 1500px) {

	#right {
		width: 714px;
		height: 414px;
		
	  } 
	  #floor-plan {
		width: 300px; 
		height: 414px;
		position:relative;
		margin: auto;
		background-image: url( images/Silsmaria/silsmaria.png );
		background-size: contain;
		padding-left: -5em;
		
	   
	
	}
	
}