@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: #f2f2f2;
    background-image: url(images/contatti/contact.jpg);
    background-size: cover;
}

.contact-form {
    position: absolute;
	width: 80vw;
	display: flex;
	justify-content: space-between;
	background: #fff;
	margin: 50px 0;
    top: 10rem;
	
}

.contact-form > * {
	width: 50%;
}
 
.contact-form .first-container {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/contatti/contact.jpg") center center / cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-form .first-container .info-container div {
	margin: 24px 0;
}

.contact-form .first-container .info-container div h3 {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.2;
	padding-bottom: 10px;
}

.contact-form .first-container .info-container div:first-of-type p {
	max-width: 260px;
	color: #999;
}

.contact-form .first-container .info-container div p {
	font-size: 16px;
	line-height: 1.6;
	color: #B18904;
}
 
.contact-form .second-container {
	padding: 30px;
}

.contact-form .second-container h2 {
	font-size: 30px;
	font-weight: 400;
	color: #333;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 20px;
}

.contact-form .second-container form {
	display: flex;
	flex-direction: column;
}

.contact-form .second-container form .col {
	margin-bottom: 10px;
}

.contact-form .second-container form .col * {
	min-height: 55px;
	border: 1px solid #e6e6e6;
	padding: 0 20px;
}

.contact-form .second-container form .col label {
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px solid #e6e6e6;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	margin-top: -1px;
}
 
.contact-form .second-container form .col:first-of-type input {
	width: 50.1%;
	margin-right: -5px;
}
 
.contact-form .second-container form .col input {
	width: 100%;
	font-size: 15px;
	margin-top: -2px;
}
 
.contact-form .second-container form .col input::placeholder, .contact-form .second-container form .col textarea::placeholder {
	color: #999;
}
 
.contact-form .second-container form .col textarea {
	width: 100%;
	min-height: 80px;
	resize: none;
	font-size: 15px;
	padding: 10px 20px;
	margin-top: -1px;
}
 
.contact-form .second-container form button {
	width: 200px;
	height: 50px;
	background: #790405;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	border: 0;
	position: relative;
	left: calc(50% - 100px);
	cursor: pointer;
}
 
.contact-form .second-container form button:hover {
	background: #343567;
}
 
.buttons {
	text-align: center;
	padding: 4%;
}

.choice{
	padding-right: 4%;
}

.linea {
	display: none;
}

#message-textarea {
	width: 100%;
	height: 7rem;
	font-size: 15px;
	padding: 2%;
}

#flag-icons-ch {
	width: 30px;
	height: 30px;
}

#flag-icons-it {
	width: 30px;
	height: 30px;
}

@media screen and (max-width: 800px) {
	.contact-form {
	 	width: 90vw;
	}
}
 
@media screen and (max-width: 700px) {
	.contact-form {
		flex-direction: column-reverse;
	}
	.contact-form > * {
		width: 100%;
	}
	.contact-form .first-container {
		padding: 40px 0;
	}
}
 
@media screen and (max-width: 1180px) {
	.linea {
		display: block;
		height: 20px;
	}
}
 
