:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Cardo', serif;
}

/***************************************************************************/
/*                             HOME IMAGE COVER                            */
/***************************************************************************/
.home-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/renovations.jpg);
    background-position: center top;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
}

.renovations-title{
    font-family: 'Lato', sans-serif;
    width: 11em;
    align-items: center;
    font-size: xx-large;color: white;
    background-color: rgba(0, 0, 0, .7);
}

/***************************************************************************/
/*                      SECTION IMAGE AND DESCRIPTION                      */
/***************************************************************************/
.about-it{
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.about-it-container {
	position: absolute;
	width: 100%;
}

.description-image {
	position: relative;
	display: flex;
	justify-content: center;
	top: 50px;
}

.about-it-image {
	position: relative;
	right: 5em;
	width: 32em;
	max-width: 100%;
}

.about-it-desc {
	position: relative;
	top: 3em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	max-width: 25em;
}

/***************************************************************************/
/*                                 STEP BY STEP                            */
/***************************************************************************/
.page-content {
	display: grid;
	grid-gap: 3rem;
	max-width: 80%;
	padding: 1rem;
	margin: 0 auto;
	font-family:  'Lato', sans-serif;
}

@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(4, 1fr);
    }
}

.card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
	.card {
		height: 350px;
    }
}

.card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}

.card:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}

/* cards background */
.card:nth-child(1):before {
	background-image: url(images/EstConRen/card1.jpg);
}

.card:nth-child(2):before {
	background-image: url(images/EstConRen/card2.jpg);
}

.card:nth-child(3):before {
	background-image: url(images/EstConRen/card3.jpg);
}

.card:nth-child(4):before {
	background-image: url(images/EstConRen/card4.jpg);
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}

.content > * + * {
	margin-top: 1rem;
}

.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.copy {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

/* cards animations over 600px */
@media (hover: hover) and (min-width: 600px) {
	.card:after {
		transform: translateY(0);
    }

	.content {
		transform: translateY(calc(100% - 4.5rem));
    }

	.content > *:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

	.card:hover, .card:focus-within {
		align-items: center;
    }

	.card:hover:before, .card:focus-within:before {
		transform: translateY(-4%);
    }

	.card:hover:after, .card:focus-within:after {
		transform: translateY(-50%);
    }

	.card:hover .content, .card:focus-within .content {
		transform: translateY(0);
    }

	.card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
    }

	.card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		transition-duration: 1s;
    }
}

/***************************************************************************/
/*                                  MEDIA FOR 1180PX                       */
/***************************************************************************/
@media (max-width: 1180px){
	/* cover image responsive */
	.home-4 {
		height: 500px;
	}

	/* mobile version section image description */
	.about-it-container{
		display: none;
	}

	/* mobile version of the picture */
	.renovations-mobile{
		visibility: visible;
		position: absolute;
		width: 100%;
		height: 50vh;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(images/EstConRen/falegname.JPG);
		opacity: 0.50;
		text-align: center;
	}

	.before-after{
		display: none;
	}

	.box-phone{
		position: relative;
		top: 5em;
		font-family: 'Lato', sans-serif;
		font-size: 1em;
		color: white;
		text-align: center;
		max-width: 50rem;
		margin: 0 auto;
	  }
	
	  .h1-phone {
		font-size: 40px;
		margin-top: 0.5em;
	  }

}

@media (min-width: 1180px){
	.section {
		margin-bottom: 100px;
	}
}
/* .grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5px;
	grid-auto-flow: dense;
}

.gallery-container img{
	margin-left: 5%;
	width: 20em;
	object-fit: cover;
	object-position: 50% 50%;
} */

/* @media screen and (max-width: 1180px) {
	.grid-container {
		grid-template-columns : repeat(2, 1fr);
	}

	.gallery-container img {
		margin-left: 7%;
		width: 10em;
	}
} */

.image-grid {
	padding: 12px;
  }
  
  .image-row {
	display: flex;  
  }
  
  .image-row .image {
	margin: 12px;
	height: 540px;  
  }
  
  .image { 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  
  }
  
  .image-01 {
	background-image: url('images/renovations/ristrutturazione-2.jpg'); 
	flex: 1;  
  }
  
  .image-02 {
	background-image: url('images/renovations/ristrutturazione-3.jpg'); 
	flex: 1;  
  }
  
  .image-03 {
	background-image: url('images/renovations/ristrutturazione-4.jpg');  
	flex: 1;  
  }
  
  .image-04 {
	background-image: url('images/renovations/ristrutturazione-1.jpg'); 
	flex: 2;
  }
  
  .image-05 {
	background-image: url('images/renovations/ristrutturazione-5.jpg');
	flex: 2;
  }
  
  @media screen and (max-width: 400px) {
	.image-row {
	  flex-direction: column;
	}
	
	.image-row .image {
	  flex-basis: auto;
	}
  }
  


  /* You can remove this page div in your website */
#page{
	width:100%;
	height:100%;
	position:absolute;
  }
  
  /* Our normalize css */
  /* *{
	margin:0;
	box-sizing: border-box;
  }
   */
  /* Our wrapper */
  .wrapper{
	width: 900px;
	height: 600px;
	position: absolute;
	left:50%;
	top:50%;
	transform:translate3d(-50%,-50%,0);
	overflow:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  /* Our image information */
  .before,
  .after {
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	position: absolute;
	top:0;
	left:0;
	pointer-events:none;
	overflow: hidden;
  }
  
  .content-image{
	height:100%;
  }
  
  .after{
	width:125px;
  }
  
  .scroller{
	width: 50px;
	height:50px;
	position: absolute;
	left:100px;
	top:50%;
	transform:translateY(-50%);
	border-radius:50%;
	background-color: transparent;
	opacity:0.9;
	pointer-events:auto;
	cursor: pointer;
  }
  
  .scroller:hover{
	opacity:1;
  }
  
  .scrolling{
	pointer-events:none;
	opacity:1;
	/* z-index: 1; */
  }
  
  .scroller__thumb{
	width:100%;
	height:100%;
	padding:5px;
  }
  
  .scroller:before,
  .scroller:after{
	content:" ";
	display: block;
	width: 7px;
	height: 9999px;
	position: absolute;
	left: 50%;
	margin-left: -3.5px;
	z-index: 30;
	transition:0.1s;
  }
  .scroller:before{
	top:100%;
  }
  .scroller:after{
	bottom:100%;
  }
  
  /* If you want to cahnge the colors, make sure you change the fill in the svgs to match */
  .scroller{
	border: 5px solid #fff;
  }
  .scroller:before,
  .scroller:after{
	background: #fff;
  }
