@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');



  
 /* body {
	 font-family: 'IBM Plex Mono', monospace;
	 font-family: 'IBM Plex Sans', sans-serif;
	 font-family: 'IBM Plex Serif', serif;
	 margin: 0;
}
/* swiper
 .swiper-container {
	 padding: 0;
	 height: 700px;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transition: all 0.3s ease;
}
 @media screen and (max-width: 768px) {
	 .swiper-container {
		 height: 500px;
	}
}
 .swiper-slide {
	 width: 100%;
	 background-size: cover;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 transition: all 0.3s ease;
}
 .swiper-slide:after {
	 content: '';
	 background-image: linear-gradient(0deg, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 bottom: 0;
	 z-index: 1;
	 opacity: 0.3;
}
 .swiper-slide:before {
	 content: '';
	 background-color: rgba(69, 69, 78, 0.2);
	 background-image: linear-gradient(180deg, rgba(255, 234, 213, 0.3), rgba(241, 244, 255, 0.3));
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 bottom: 0;
	 z-index: 1;
}
/* swiper arrows 
 .swiper-button-prev, .swiper-button-next {
	 width: 50px;
	 height: 50px;
	 background-image: none;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .swiper-button-prev {
	 left: 30px;
}
 .swiper-button-next {
	 right: 30px;
}
 .swiper-button-prev span, .swiper-button-next span {
	 width: 10px;
	 height: 10px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: transparent;
	 position: absolute;
	 border: solid 2px white;
	 border-left: 0;
	 border-bottom: 0;
	 transition: all 0.3s ease;
}
 .swiper-button-prev span {
	 transform: rotate(-135deg);
	 left: 50%;
}
 .swiper-button-next span {
	 transform: rotate(45deg);
	 right: 50%;
}
 .swiper-button-prev span:after, .swiper-button-next span:after {
	 content: '';
	 position: absolute;
	 background-color: white;
	 width: 0px;
	 height: 2px;
	 transition: all 0.3s ease;
	 transform: rotate(-45deg);
}
 .swiper-button-prev:hover span {
	 left: 30%;
}
 .swiper-button-next:hover span {
	 right: 30%;
}
 .swiper-button-prev:hover span:after, .swiper-button-next:hover span:after {
	 width: calc(20px - 4px);
}
/* swiper arrows mobile 
 @media screen and (max-width: 768px) {
	 .swiper-button-prev {
		 left: 0px;
	}
	 .swiper-button-next {
		 right: 0px;
	}
	 .swiper-button-prev:hover span {
		 left: 50%;
	}
	 .swiper-button-next:hover span {
		 right: 50%;
	}
	 .swiper-button-prev:hover span:after, .swiper-button-next:hover span:after {
		 display: none;
	}
}
/* swiper pagination 
 .swiper-pagination {
	 height: 40px;
}
 .swiper-pagination-bullet {
	 background-color: transparent;
	 border: solid 1px white;
	 opacity: 1;
	 transition: all 0.3s ease-in-out;
}
 .swiper-pagination-bullet:hover {
	 background-color: white;
}
 .swiper-pagination-bullet-active {
	 width: 20px;
	 border-radius: 50px;
	 transition: all 0.3s ease-in-out;
	 left: 0;
	 background-color: transparent;
	 border: solid 1px white;
}
/* text content 
 .slide-text {
	 text-align: center;
	 color: white;
	 opacity: 1;
	 z-index: 2;
	 font-family: 'IBM Plex Sans', sans-serif;
	 width: 80%;
	 max-width: 500px;
}
 .slide-text h1 {
	 font-family: 'IBM Plex Sans', sans-serif;
	 font-size: 30px;
	 letter-spacing: 0.03em;
}
 .slide-text p {
	 font-size: 16px;
	 font-family: 'IBM Plex Mono', monospace;
}
/* text mobile 
 @media screen and (max-width: 768px) {
	 .slide-text {
		 width: 60%;
	}
	 .slide-text h1 {
		 font-size: 20px;
		 letter-spacing: 0.02em;
	}
	 .slide-text p {
		 font-size: 14px;
	}
}
/* button 
 .slide-text .btn {
	 font-family: 'IBM Plex Mono', monospace;
	 background-color: transparent;
	 border: solid 1px white;
	 padding: 15px 30px;
	 min-width: 100px;
	 width: fit-content;
	 font-size: 14px;
	 letter-spacing: 2px;
	 color: white;
	 position: relative;
	 border-radius: 80px;
	 transition: all 0.3s ease-in-out;
	 cursor: pointer;
	 margin-top: 20px;
}
 .slide-text .btn:after {
	 content: '';
	 background-color: rgba(255, 255, 255, 0.1);
	 width: 100%;
	 height: 100%;
	 display: block;
	 position: absolute;
	 z-index: 2;
	 left: 0px;
	 top: 0px;
	 border-radius: inherit;
	 transition: all 0.3s ease-in-out;
}
 .slide-text .btn:hover::after {
	 left: 4px;
	 top: 5px;
	 background-color: rgba(255, 255, 255, 0.3);
}
 .slide-text .btn:hover {
	 font-weight: 800;
}
 @media screen and (max-width: 768px) {
	 .slide-text .btn:hover::after {
		 left: 0px;
		 top: 0px;
		 background-color: rgba(255, 255, 255, 0.1);
	}
} */
.about-it{
	width: 100%;
	height: 100%;
	max-height: 100vh;
}
.about-it-container {
	position: absolute;
	width: 100%;
}

.description-image {
	position: relative;
	display: flex;
	justify-content: center;
}

.about-it-image {
	position: relative;
	right: 5em;
	width: 32em;
	max-width: 100%;
}

.about-it-desc {
	position: relative;
	top: 3em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	max-width: 25em;
}



/* CARDS  */
.page-content {
	display: grid;
	grid-gap: 3rem;
	padding: 1rem;
	max-width: 1024px;
	margin: 0 auto;
	font-family:  'Lato', sans-serif;
}
@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
   }
}
@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(4, 1fr);
   }
}
.card {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
	.card {
		height: 350px;
   }
}
.card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}
.card:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	transform: translateY(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
	background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(2):before {
	background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(3):before {
	background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card:nth-child(4):before {
	background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;
}
.content > * + * {
	margin-top: 1rem;
}
.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}
.copy {
	font-family: var(--font-serif);
	font-size: 1.125rem;
	font-style: italic;
	line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
	.card:after {
		transform: translateY(0);
   }
	.content {
		transform: translateY(calc(100% - 4.5rem));
   }
	.content > *:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
   }
	.card:hover, .card:focus-within {
		align-items: center;
   }
	.card:hover:before, .card:focus-within:before {
		transform: translateY(-4%);
   }
	.card:hover:after, .card:focus-within:after {
		transform: translateY(-50%);
   }
	.card:hover .content, .card:focus-within .content {
		transform: translateY(0);
   }
	.card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
   }
	.card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		transition-duration: 0s;
   }
}
