@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color:black;
}

.container {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
        align-items: center;
  z-index: 4;
}

.container.scrolling {
  background-color: black;
  color: white;
}

.hamburger {
  display: none;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(images/house.png);
  background-position: center top;
  background-size:cover;
}


.logo {
  -webkit-box-ordinal-group: 2;
                      order: 1;
  font-size: 24px;
  color: #fff;
  line-height: 32px;
  padding: 10px;
}

.item {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: 'Lato';
  padding: 24px;
} 

.item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.item:nth-of-type(n+4) {
  -webkit-box-ordinal-group: 3;
                      order: 2;
}

#hidden {
  visibility: hidden;
}

.background-logo {
  background-image: url(images/sfondo-logo.png);
  width: 100%;
  height: 100vh;
  background-position: center top;
  /* background-size: cover; */
  background-repeat: no-repeat;

}
.container-sec{
  position: absolute;
  width: 100%;
}

.separator{
  display:flex;
  align-items: center;
  padding-top: 4em;
}

.separator .line{
  height: 3px;
  flex: 0.5;
  background-color: white;
}

.font {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
.separator .thinked{
  padding: 0 2rem;
  color: white;
}

.first-desc {
  position: relative;
  top: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

.second-desc {
  position: relative;
  top: 4em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}

.separator-2{
  display: flex;
  align-items: center;
  padding-top: 6em;
  overflow: hidden;
}

.separator-2 .line{
  height: 3px;
  flex: 0.5;
  background-color: white;
}

.separator-2 .thinked-2 {
  padding: 0 2rem;
  color: white;
  overflow: hidden;
}

.third-desc {
  position: relative;
  top: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}

.section {
  height: 45em;
}

.container-estate {
  position: absolute;
  width: 100%;
  height: auto;
}

.estate-img {
  position: relative;
  left: 1%;
  /* height: 75%; */
  width: 70%;
  max-width: 100%;
  height: auto;
}

.box-1{
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 20%;
  bottom: 20%;
  /* width: 32em; */
  height: auto;
  margin-right: 15%;
  margin-left: 55%;
  padding: 20px;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

.separator-3{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.separator-3 .line{
  height: 3px;
  flex: 0.2;
  background-color: white;
}

.estate-h1 {
  font-size: 50px;
  margin-bottom: 3%;
}

.container-mobile {
  visibility: hidden;
}



/************************************************
IMPOSSIBILE MA CE LA FAREMO AD ADATTARLO QUESTO MERDOSISSIMO SLIDER
***************************************************/
/* html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Sen";
}
* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: none;
  user-select: none;
  -webkit-user-drag: none;
} 
#main {
  display: flex;
}
#main .part {
  flex: 1;
}
#main .part .section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#main .part .section img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: var(--x);
  pointer-events: none;
}
.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}
.cursor-f {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.4202 42.4202C38.8403 46 33.3594 46 23.5 46C13.6406 46 8.15966 46 4.57983 42.4202C1 38.8403 1 33.3594 1 23.5C1 13.6406 1 8.15966 4.57983 4.57983C8.15966 1 13.6406 1 23.5 1C33.3594 1 38.8403 1 42.4202 4.57983C46 8.15966 46 13.6406 46 23.5C46 33.3594 46 38.8403 42.4202 42.4202Z' stroke='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0.5;
}
.buttons {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.buttons button {
  border: none;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='10' height='29' viewBox='0 0 10 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0V27L1 17.4857' stroke='white' stroke-width='2' /%3E%3C/svg%3E%0A") no-repeat;
  background-position: center;
  width: 10px;
  height: 30px;
  display: block;
  margin: 20px 0;
  padding: 0 15px;
  transition-duration: 0.6s;
}
.buttons button.next {
  transform: scaleY(-1);
}
.buttons button.prev:active {
  transform: translateY(8px);
}
.buttons button.next:active {
  transform: scaleY(-1) translateY(8px);
}
.titolone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: white;
  text-align: center;
  font-size: 2.6em;
  mix-blend-mode: overlay;
  pointer-events: none;
}
*/


@media all and (max-width: 1180px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
           flex-direction: column;
    -webkit-box-align: stretch;
           align-items: stretch;
    background-color: black;
  }

  .logo {
    height: 80px;
  }    
    
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60%;
    width: 50%;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
      
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
      
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
      
  .change .bar2 {
    opacity: 0;
  }
      
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
   
  .logo {
    -webkit-box-ordinal-group: 1;
                        order: 0;
    text-align: center;
    width: 360px;
    margin: auto auto;
  }

  .item {
    text-align: center;
    border-bottom: 1px solid #111;
    display: none;
  }

  .show {
    display: block;
  }

  #hidden{
    display: none;
    visibility: hidden;
  }

  .container-estate{
    display: none;
  }

  .container-mobile{
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/estate.jpg);
    opacity: 0.50;
  }

  .box-mobile{
    position: relative;
    top: 10em; 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
  }

  .h1-mobile {
    font-size: 40px;
  }

  .section{
    height: 30em;
  }
}

@media all and (max-width: 700px) {
  .separator-2 {
    visibility: hidden;
  }

  .third-desc{
    visibility: hidden;
  }
}