@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/***************************************************************************/
/*                                  PRELOADER                              */
/***************************************************************************/
.no-scroll-y {
	overflow-y: hidden;
}

.ctn-preloader {
	align-items: center;
  cursor: none;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 9999;
  color: #fff;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

.ctn-preloader .loader-section {
  background-color: black;
  height: 100%;
	position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

/* positioning section to open */
.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* image matting */
.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

/* courtain opening */
.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.5s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.5s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

body {
  padding: 0;
  margin: 0;
  background-color:black;
}

/***************************************************************************/
/*                                  NAVBAR                                 */
/***************************************************************************/
.container {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
        align-items: center;
  z-index: 999;
}

.container.scrolling {
  background-color: black;
  color: white;
}

/* hamburger menù */
.hamburger {
  display: none;
}

/* logo */
.logo {
  -webkit-box-ordinal-group: 2;
                      order: 1;
  font-size: 24px;
  color: #fff;
  line-height: 32px;
  padding: 10px;
}

/* white logo */
#logo-white {
  display: none;
}

/* navbar items */
.item {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: 'Lato';
  padding: 24px;
}

.item-logo {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: 'Lato';
  padding: 24px;
}

.item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.item:nth-of-type(n+4) {
  -webkit-box-ordinal-group: 3;
                      order: 2;
}

/***************************************************************************/
/*                             HOME IMAGE COVER                            */
/***************************************************************************/
.home {
  width: 100%;
  height: 100vh;
  background-image: url(images/foto-bear/home-photo.jpg);
  background-position: center top;
  background-size:cover;
}


/***************************************************************************/
/*                            BACKGROUND LOGO                              */
/***************************************************************************/
.background-logo {
  background-image: url(images/sfondo_logo.png);
  width: 100%;
  height: 100vh;
  background-position: center top;
  /* background-size: cover; */
  background-repeat: no-repeat;

}

.container-sec{
  position: absolute;
  width: 100%;
}

/* line separator */
.separator{
  display:flex;
  align-items: center;
  padding-top: 4em;
}

.separator .line{
  height: 3px;
  flex: 0.5;
  background-color: white;
}

/* font for the text sections */
.font {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.separator .thinked{
  padding: 0 2rem;
  color: white;
}

/* text sections */
.first-desc {
  position: relative;
  top: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

.second-desc {
  position: relative;
  top: 4em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}

.separator-2{
  display: flex;
  align-items: center;
  padding-top: 6em;
  overflow: hidden;
}

/* second title and line */
.separator-2 .line{
  height: 3px;
  flex: 0.5;
  background-color: white;
}

.separator-2 .thinked-2 {
  padding: 0 2rem;
  color: white;
  overflow: hidden;
}

/* text section after title */
.third-desc {
  position: relative;
  top: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}

/***************************************************************************/
/*                       ESTATE, CONCIERGE, RENOVATIONS                    */
/***************************************************************************/
.section {
  height: 45em;
}

.container-estate {
  position: absolute;
  width: 100%;
  height: auto;
}

/* estate image */
.estate-img {
  position: relative;
  left: 1%;
  /* height: 75%; */
  width: 70%;
  max-width: 100%;
  height: auto;
}

/* estate and renovations black box for text on image */
.box-1{
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 20%;
  bottom: 20%;
  /* width: 32em; */
  height: auto;
  margin-right: 15%;
  margin-left: 55%;
  padding: 20px;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

/* concierge image */
.estate-img2 {
  position: relative;
  left: 30%;
  /* height: 75%; */
  width: 70%;
  max-width: 100%;
  height: auto;
}

/* concierge black box for text, inverted */
.box-2{
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 20%;
  bottom: 20%;
  /* width: 32em; */
  height: auto;
  margin-right: 15%;
  margin-left: 18%;
  padding: 20px;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

/* line separators */
.separator-3{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.separator-3 .line{
  height: 3px;
  flex: 0.2;
  background-color: white;
}

/* sections titles estate, concierge, renovations */
.estate-h1 {
  font-size: 50px;
  margin-bottom: 3%;
}

.estate-h1 a{
  text-decoration: none;
  color: white;
}

/* container mobile version */
.container-mobile {
  visibility: hidden;
}

/***************************************************************************/
/*                                  SLIDER HOUSES                          */
/***************************************************************************/

.intro {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1rem;
  top: 5rem;
}

.intro-slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  z-index:-1;
 
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}


/***************************************************************************/
/*                                  SLIDER REVIEWS                         */
/***************************************************************************/

.slider__caption {
  text-align: center;
  font-size: 14px;
  color: #fff;
  opacity: .5;
  font-family: 'Lato';
}

.slider__txt {
  text-align: center;
  font-size: 22px;
  font-family: 'Lato';
  color: #fff;
}

quote {
  font-family: 'Lato';
  font-size: 100px;
  color: #B18904;
  margin-bottom: 0;
}

.slider {
  background-image: url(images/recensioni.png);
  background-size: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 600px;
  top: 10rem;
  bottom: 10rem;
}

.slideshow {
  position: relative;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  color:#ddd;
  text-align: center;
  font-family: 'Lato';
  position: absolute;
  top: 25%;
}

.slide {
  display: none;
}

.slider {
  margin-bottom: 150px;
}

/***************************************************************************/
/*                                  FOOTER                                 */
/***************************************************************************/
.site-footer {
  background-color: black;
  padding: 45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
  font-family: 'Lato', sans-serif;
}

.riga {
  text-align: center;
}

#colon {
  display: inline-table;
  padding: 4%;
}

#logo-foot {
  width: 70%;
}

.site-footer h6 {
  color:white;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

/* elements in the colons */
.footer-links {
  padding-left:0;
  list-style:none;
  color: white;
}

/* social icons */
svg {
  width: 15px;
  height: 15px;
}

.site-footer {
  padding-bottom:0
}

.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

.social-icons li {
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

/* social icons color when hover */
.social-icons a.facebook:hover {
  background-color:#790405
}

.social-icons a.instagram:hover {
  background-color:#B18904
}

.social-icons a.linkedin:hover {
  background-color:#343567;
}

/*second footer */
.footer2 {
  width: 100%;
  height: 4em;
  text-align: center;
  background-color: black;
  display: grid;
  place-items: center;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

.frame-1 {
  display: none;
}

/***************************************************************************/
/*                             MEDIA FOR 1480PX                            */
/***************************************************************************/
@media all and (max-width: 1480px) {
  /* footer responsive */
  #colon {
    display: inline-table;
    padding: 2.5%;
  }
}

/***************************************************************************/
/*                             MEDIA FOR 1180PX                            */
/***************************************************************************/
@media all and (max-width: 1180px) {
  /* navbar responsive */
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
           flex-direction: column;
    -webkit-box-align: stretch;
           align-items: stretch;
    background-color: black;
  }

  /* logo in navbar responsive */
  .logo {
    height: 80px;
    line-height: 0px;
  }

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60%;
    width: 30%;
  }

  #logo-white {
    width: 15%;
  }



  /* hamburger menù and bars */
  .hamburger {
    display: inline-block;
    position: absolute;
    top: 30px;
    cursor: pointer;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* hamburger transition */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .logo {
    -webkit-box-ordinal-group: 1;
                        order: 0;
    text-align: center;
    width: 360px;
    margin: auto auto;
  }

  /* navbar items */
  .item {
    text-align: center;
    border-bottom: 1px solid #111;
    display: none;
  }

  .show {
    display: block;
  }

  #hidden{
    display: none;
    visibility: hidden;
  }

  .home {
    height: 500px;
  }

  /* estate, concierge, renovations responsive */
  .container-estate{
    display: none;
  }

  .frame-1 {
    display: block;
  }

  .estate-mobile{
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/homepics/estate_box.jpg);
    opacity: 0.50;
  }

  .concierge-mobile{
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/homepics/renovations_box.jpg);
    opacity: 0.50;
  }

  .renovations-mobile{
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/homepics/concierge_box.jpg);
    opacity: 0.50;
  }

  .box-mobile{
    position: relative;
    top: 10em;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
  }

  .h1-mobile {
    font-size: 40px;
  }

  .section{
    height: 30em;
  }

  /* footer responsive */
  #colon {
    display:list-item;
    padding: 2%;
  }

  #logo-foot{
    visibility: hidden;
    display: none;
  }

  .social-icons a.facebook {
    background-color:#790405
  }
  .social-icons a.instagram {
    background-color:#B18904
  }
  .social-icons a.linkedin {
    background-color:#343567;
  }

 
}

/***************************************************************************/
/*                             MEDIA FOR 700PX                             */
/***************************************************************************/
@media all and (max-width: 700px) {
  /* text sections deleted in mobile */
  .separator-2 {
    visibility: hidden;
  }

  .third-desc{
    visibility: hidden;
  }
}

/***************************************************************************/
/*                             MEDIA FOR 400PX                             */
/***************************************************************************/
@media all and (max-width: 400px) {
  /* section with background responsive */
  .second-desc {
    visibility: hidden;
  }
  /* logo footer responsive */
  #logo-foot{
    width: 50%;
  }
  /*buttons*/
  .custom-btn {
    bottom: 20px;
  }
}

button {
  margin-bottom: 4.5em;
  margin-left: 1.5em;
  /* margin: 20px; */
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1); */
  outline: none;
}



/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: black;
background: black;
}
.btn-5:hover {
  color: #fff;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #fff;
/*  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;*/
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

.btn-5 a {
  text-decoration: none;
  color: white;
}

.btn-6 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #790405;
background: #790405;
top: 250px;
}
.btn-6:hover {
  color: #fff;
  background: #343567;
   box-shadow:none;
}
.btn-6:before,
.btn-6:after{
  content:'';
  position:absolute;
  top: 0;
  right:0;
  height:2px;
  width:0;
  background: #fff;
/*  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;*/
  transition:400ms ease all;
}
.btn-6:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom: 0;
  top: 40px;
}
.btn-6:hover:before,
.btn-6:hover:after{
  width:100%;
  transition:800ms ease all;
}

.btn-6 a {
  text-decoration: none;
  color: white;
}

.intro-slideshow2 {
  visibility: hidden;
}

.intro-slideshow2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  z-index:-1;
 
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
}

/***************************************************************************/
/*                             MEDIA FOR 800PX                             */
/***************************************************************************/
@media all and (max-width: 800px) {
  .intro-slideshow2 {
    visibility: visible;
  }

  .intro-slideshow {
   visibility: hidden;
  }
}

.btn-6 {
  margin-bottom: 4em;
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #790405;
background: #790405;
top: 250px;
}