@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color:black;
}

.container {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
        align-items: center;
  z-index: 4;
}

.container.scrolling {
  background-color: black;
  color: white;
}

.hamburger {
  display: none;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(images/house.png);
  background-position: center top;
  background-size:cover;
}


.logo {
  -webkit-box-ordinal-group: 2;
                      order: 1;
  font-size: 24px;
  color: #fff;
  line-height: 32px;
  padding: 10px;
}

.item {
  color: rgba(255, 255, 255, 0.88);
  text-decoration: none;
  font-family: 'Lato';
  padding: 24px;
} 

.item:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.item:nth-of-type(n+4) {
  -webkit-box-ordinal-group: 3;
                      order: 2;
}

#hidden {
  visibility: hidden;
}

.background-logo {
  background-image: url(images/sfondo-logo.png);
  width: 100%;
  height: 100vh;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

}
.container-sec{
  position: absolute;
  width: 100%;
}

.separator{
  display:flex;
  align-items: center;
  padding-top: 4em;
}

.separator .line{
  height: 3px;
  flex: 0.5;
  background-color: white;
}

.font {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}
.separator .thinked{
  padding: 0 2rem;
  color: white;
}

.first-desc {
  position: relative;
  top: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 50rem;
  margin: 0 auto;
}

.second-desc {
  position: relative;
  top: 4em;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}

.separator-2{
  display: flex;
  align-items: center;
  padding-top: 6em;
  overflow: hidden;
}

.separator-2 .line{
  height: 3px;
  flex: 0.5;
  background-color: white;
}

.separator-2 .thinked-2 {
  padding: 0 2rem;
  color: white;
  overflow: hidden;
}

.third-desc {
  position: relative;
  top: 2em;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}

.container-estate {
  position: absolute;
  width: 100%;
  height: 100%;
}

.estate-img {
  position: relative;
  left: 1%;
  height: 75%;
  width: 70%;
}

.box-1{
  font-family: 'Lato', sans-serif;
  position: relative;
  bottom: 63%;
  /* width: 32em; */
  height: 45%;
  margin-right: 15%;
  margin-left: 55%;
  padding: 20px;
  /* background-color: white; */
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

.separator-3{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.separator-3 .line{
  height: 3px;
  flex: 0.2;
  background-color: white;
}

.estate-h1 {
  font-size: 50px;
  margin-bottom: 3%;
}

@media all and (max-width: 1180px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
           flex-direction: column;
    -webkit-box-align: stretch;
           align-items: stretch;
    background-color: black;
  }

  .logo {
    height: 80px;
  }    
    
  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60%;
    width: 50%;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
  }
      
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
      
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
      
  .change .bar2 {
    opacity: 0;
  }
      
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
   
  .logo {
    -webkit-box-ordinal-group: 1;
                        order: 0;
    text-align: center;
    width: 360px;
    margin: auto auto;
  }

  .item {
    text-align: center;
    border-bottom: 1px solid #111;
    display: none;
  }

  .show {
    display: block;
  }

  #hidden{
    display: none;
    visibility: hidden;
  }
}

@media all and (max-width: 600px) {
  .background-logo {
    background-image: url(images/sfondo-logo.png);
    width: 100%;
    height: 120vh;
    background-position: center top;
    background-size:cover;
  
  }
}

@media all and (max-width: 450px) {
  .separator-2 {
    visibility: hidden;
  }

  .third-desc{
    visibility: hidden;
  }
  /* .thinked {
    visibility: hidden;
  } */
}