:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Cardo', serif;
}

/***************************************************************************/
/*                             HOME IMAGE COVER                            */
/***************************************************************************/
.home-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/copertina_vlog.jpg);
    background-position: center top;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
}

.vlog-title{
    font-family: 'Lato', sans-serif;
    width: 11em;
    align-items: center;
    font-size: xx-large;color: white;
    background-color: rgba(0, 0, 0, .7);
}

.video-section-1 {
    height: 90vh;
}



.iframe-container-1 {
    position: relative;
    align-items: center;
    width: 80%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container-1 iframe {
    position: absolute;
    align-items: center;
    top: 10%;
    left: 29%;
    width: 70%;
    height: 60%;
}

.video-desc-1 {
    padding-top: 7%;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}


.video-paragraph-1 {
    font-size: 17px;
}

.video-paragraph-2 {
    position: relative;
    padding-top: 4em;
    font-size: 17px;
}


.iframe-container-2 {
    position: relative;
    align-items: center;
    
    width: 80%;
    padding-bottom: 43%;
    height: 0;
}

.iframe-container-2 iframe {
    position: absolute;
    align-items: center;
    top: 10%;
    left: 29%;
    width: 70%;
    height: 60%;
}

.video-desc-2 {
    margin-top: 10%;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    font-size: 10px;
}

/***************************************************************************/
/*                                  MEDIA FOR 1180PX                       */
/***************************************************************************/
@media (max-width: 1180px){
	/* cover image responsive */
	.home-6 {
		height: 500px;
	}

    .video-section-1 {
        height: 50vh;
    }
}