.home-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/Chisiamo/squad.jpg);
    background-position: center top;
    background-size:cover;
    text-align: center;
    vertical-align: middle;
}

.info-title{
    font-family: 'Lato', sans-serif;
    width: 10em;
    align-items: center;
    font-size: xx-large;color: white;
    background-color: rgba(0, 0, 0, .7);
}

.about-it-2{
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.about-it-container-2 {
	position: absolute;
	width: 100%;
}

.description-image-2 {
	position: relative;
	display: flex;
	justify-content: center;
	top: 50px;
}

.about-it-image-2 {
	position: relative;
	right: 5em;
	width: 22em;
	max-width: 100%;
}

.about-it-desc-2 {
	position: relative;
	top: 10em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	max-width: 25em;
}



.about-it-3{
	width: 100%;
	height: 100%;
	max-height: 100vh;
}

.about-it-container-3 {
	position: absolute;
	width: 100%;
}

.description-image-3 {
	position: relative;
	display: flex;
	justify-content: center;
}

.about-it-image-3 {
	position: relative;
	left: 28em;
	width: 22em;
	max-width: 100%;
}

.about-it-desc-3 {
	position: relative;
	right: 29em;
	top: 10em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	max-width: 25em;
}

@media (max-width: 1180px){
	.home-5 {
		height: 500px;
	}
	.about-it-container-2{
		display: none;
	}

	.estate-mobile-2{
        display: flex;
        align-items: center;
        justify-items: center;
		visibility: visible;
		position: absolute;
		width: 100%;
		height: 50vh;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(images/Chisiamo/padre-robbia-mobile.jpg);
		opacity: 0.50;
		text-align: center;
	  }

	  .about-it-container-3{
		display: none;
	}

	  	.estate-mobile-3{
        display: flex;
        align-items: center;
        justify-items: center;
		visibility: visible;
		position: absolute;
		width: 100%;
		height: 50vh;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(images/Chisiamo/robbiani-mobile.jpg);
		opacity: 0.50;
		text-align: center;
	  } 

      .h1-mobile {
          font-size: 30px;
      }

      .p-mobile{
          font-size: 15px;
      }
}

@media (max-width: 280px){
    .p-mobile{
        font-size: 12px;
    }
}